<a href="https://colab.research.google.com/github/terryliu1993/-Recommendation-System-Movie-Recommendation-Engine/blob/main/Recommendation_System.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd#
import numpy as np#
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import seaborn as sns
import matplotlib.pyplot as plt
import nltk #
import re #
nltk.download('punkt') #
from nltk.stem.snowball import SnowballStemmer#
from sklearn.feature_extraction.text import TfidfVectorizer #

from sklearn.metrics.pairwise import linear_kernel #

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [1]:
# use this only if you use google colab
from google.colab import files
uploaded = files.upload()
for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))

Saving litedata.csv to litedata (1).csv
User uploaded file "litedata.csv" with length 11090368 bytes

In [4]:
# metadata=pd.read_csv('wiki_movie_plots_deduped.csv',header=0)
metadata=pd.read_csv('litedata.csv',header=0)
metadata.head()

  Release Year  ... Unnamed: 8
0         1990  ...        NaN
1         1990  ...        NaN
2         1990  ...        NaN
3         1990  ...        NaN
4         1990  ...        NaN

[5 rows x 9 columns]

# EDA

First, check an overview on the size of data, table header, check missing values

In [5]:
print('Shape of data: ',metadata.shape)
print(metadata.columns)

print('========================')
print(metadata.isnull().sum())

print('========================')
print(metadata.dtypes)

Shape of data:  (5060, 9)
Index(['Release Year', 'Title', 'Origin/Ethnicity', 'Director', 'Cast',
       'Genre', 'Wiki Page', 'Plot', 'Unnamed: 8'],
      dtype='object')
========================
Release Year           0
Title                  1
Origin/Ethnicity       1
Director               1
Cast                 600
Genre                  1
Wiki Page              1
Plot                   1
Unnamed: 8          5059
dtype: int64
========================
Release Year        object
Title               object
Origin/Ethnicity    object
Director            object
Cast                object
Genre               object
Wiki Page           object
Plot                object
Unnamed: 8          object
dtype: object

There are more than 10% of records with missing Cast. When we build model, it may become a noise. thus for simplicity, in this project, we delete Cast column

URL address is not our interested features on NLP model in this project, thus it's dropped.

Since last column Unnamed:8 is empty, we delete it, too.

In [6]:
metadata=metadata.drop(['Wiki Page'],axis=1)
print('New data size is ',metadata.shape)

New data size is  (5060, 8)

Find duplicate record.
Since some movies may be remade many years later, thus we introduce a Temporary feature combining Release Year+Director+Title, to determine if this record is real duplicate.

In [7]:
# Find the true duplicates from Release Year+Director+Title
metadata['Temporary']=metadata['Release Year'].astype(str)+metadata['Director'].astype(str)+metadata['Title'].astype(str)
metadata['Temporary'].nunique()

5060

Since the unique number is equal to the row number of metadata, we conclude there is no duplicate data.

In [8]:
metadata.Genre.value_counts()

unknown                                         2241
drama                                            501
action                                           281
romance                                          256
comedy                                           171
                                                ...
drama, romance, youth, sci-fi, slice of life       1
drama-comedy-social                                1
prabhas, trisha krishnan, charmme                  1
drama, crime, thriller, sci-fi, action, spy        1
youth drama                                        1
Name: Genre, Length: 531, dtype: int64

In [9]:
# find the length of each record
metadata['Origin/Ethnicity'].apply(lambda x:len(str(x)))
# remove those 2 rows with wrong information (with string length>20['Origin/Ethnicity']
metadata=metadata[metadata['Origin/Ethnicity'].apply(lambda x:len(str(x)))<20]
print('Data size becomes: ',metadata.shape)

Data size becomes:  (5058, 9)

# The Recommendation Engine

In [10]:
# define a function to tokenize sentence, tokenize word, and stem words
stemmer = SnowballStemmer("english")
def token_stem(doc):
  # tokenize document into sentence, then tokenize sentence into words
  tokens=[word for sent in nltk.sent_tokenize(doc) for word in nltk.word_tokenize(sent)]
  # remove non-letter text
  letter_only_tokens = [token for token in tokens if re.search('[a-zA-Z]', token)]
  # stem the word token
  stemmed_tokens=[stemmer.stem(word) for word in letter_only_tokens]
  return stemmed_tokens

In [11]:
# TfidfVectorizer
tfidf=TfidfVectorizer(stop_words='english',tokenizer=token_stem,ngram_range=(1,2),decode_error='ignore',max_features=20000)
# generate tfidf_matrix by fit and transform on plot
tfidf_matrix=tfidf.fit_transform([plot for plot in metadata['Plot'].astype(str)])
print('tfidf_matrix size is: ',tfidf_matrix.shape)

/usr/local/lib/python3.7/dist-packages/sklearn/feature_extraction/text.py:385: UserWarning: Your stop_words may be inconsistent with your preprocessing. Tokenizing the stop words generated tokens ['abov', 'afterward', 'alon', 'alreadi', 'alway', 'ani', 'anoth', 'anyon', 'anyth', 'anywher', 'becam', 'becaus', 'becom', 'befor', 'besid', 'cri', 'describ', 'dure', 'els', 'elsewher', 'empti', 'everi', 'everyon', 'everyth', 'everywher', 'fifti', 'forti', 'henc', 'hereaft', 'herebi', 'howev', 'hundr', 'inde', 'mani', 'meanwhil', 'moreov', 'nobodi', 'noon', 'noth', 'nowher', 'onc', 'onli', 'otherwis', 'ourselv', 'perhap', 'pleas', 'sever', 'sinc', 'sincer', 'sixti', 'someon', 'someth', 'sometim', 'somewher', 'themselv', 'thenc', 'thereaft', 'therebi', 'therefor', 'togeth', 'twelv', 'twenti', 'veri', 'whatev', 'whenc', 'whenev', 'wherea', 'whereaft', 'wherebi', 'wherev', 'whi', 'yourselv'] not in stop_words.
  'stop_words.' % sorted(inconsistent))

tfidf_matrix size is:  (5058, 20000)

# Cosine Similarity

cosine_similarity= AB  /  ||A||||B||

--numerator AB are dot product(element-wise product),retern a scaler 

--denominator ||A|| is magnitude :  sqrt(a1^2 + a2^2 + ... +an^2) 

--since denominator is the same for all pairwise cos_similarity across document, it's computational cheap to use linear_kernal to ONLY calculate numerator(dot product)

In [13]:
# calculate pairwise cosine_similarity on tfidf_matrix
cos_sim=linear_kernel(tfidf_matrix,tfidf_matrix)

In [14]:
# def get_recommendation(input_title,cos_sim=cos_sim):
input_title='Forgotten'
# find the movie in the matrix, and retrieve the entire row
# each element in the row is pairwise cosine similarity with the input movie
row_number=metadata[metadata['Title'] == input_title].index
# give the entire list an index
rankings=list(enumerate(cos_sim[row_number][0]))
# sort the ranking in descending order
sorted_rankings=sorted(rankings,key=lambda x:x[1],reverse=True)
# pick the top 10 most similar movie(with largest cosine_similarity)
# exclude the first movie itself with cosine_similarity=1
top_10=sorted_rankings[1:11]
movie_id=[element[0] for element in top_10]
movie_names=[metadata.iloc[number,1] for number in movie_id]
movie_names

['Santa Barbara',
 'The Attorney',
 'Red Carpet',
 'Cold Eyes',
 'Right Right',
 'Countdown',
 'The Third Murder',
 'The Terror Live',
 'City of Damnation',
 'Love Fiction']

# Manually explore some similar movies:

In [15]:
metadata['Origin/Ethnicity'].value_counts()

Tamil           1662
Telugu          1311
Japanese        1188
South_Korean     522
Russian          232
Turkish           70
Malaysian         70
Maldivian          2
Name: Origin/Ethnicity, dtype: int64

In [16]:
metadata[metadata['Origin/Ethnicity']=='South_Korean']

     Release Year  ...                                          Temporary
4468         1947  ...                             1947Na Woon-gyuArirang
4469         1947  ...                         1947Lee Gyu-seolNongjungjo
4470         1947  ...                  1947Na Woon-gyuSoldier of Fortune
4471         1947  ...                             1947Na Woon-gyuDeuljwi
4472         1947  ...                            1947Na Woon-gyuFarewell
...           ...  ...                                                ...
4985         2017  ...                    2017Jang Chang-wonThe Swindlers
4986         2017  ...                         2017Jang Hang-junForgotten
4987         2017  ...                         2017Yang Woo-sukSteel Rain
4988         2017  ...  2017Kim Yong-hwaAlong With the Gods: The Two W...
4989         2017  ...         2017Jang Joon-hwan1987: When the Day Comes

[522 rows x 9 columns]

In [17]:
metadata[metadata['Title']=='Santa Barbara']

     Release Year          Title  ... Unnamed: 8                   Temporary
4839         2014  Santa Barbara  ...        NaN  2014David ChoSanta Barbara

[1 rows x 9 columns]

Conclusion
To imporve accuracy, we may
1. Using web scraping to collect those missing Cast and Genre.
2. Add release year, origin, director, cast, genre into the feature matrix, then find the similarity ranking